<strong>Olá {{student}},</strong>
<p>Seja bem vindo a Academia Gympoint!</p>
<p>Segue abaixo alguns detalhes de sua matrícula:</p>
<p>
  <strong>Plano:</strong> {{plan_title}} <br />
  <strong>Inícia em:</strong> {{start_date}} <br />
  <strong>Finaliza em:</strong> {{end_date}} <br />
  <strong>Valor mensal:</strong> {{price}} <br />

  <br />
  <small>Desejamos boa sorte nessa jornada!</small>

</p>
